$mainBackgroundColor: #3F72AF;
$darkBackgroundColor: #112D4E;
$brightBackgroundColor: #DBE2EF;
$whiteBackgroundColor: #DBE2EF;

$whiteFontColor: #ffffff;
$headerFontColor: #3F72AF;
$textFontColor: #1f1f1f;