$font: "Inter Tight", sans-serif;
$titleFont: "JetBrains Mono", monospace;

$headerColor: #b1b2ff;
$whiteFontColor: #ededed;
$headerFontColor: #aac4ff;
$textColor: #1f1f1f;

$websiteMargin: 80px;
//#AAC4FF
//#D2DAFF
//#EEF1FF
