@use "vars";
@use "colors";
@use "fonts";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: fonts.$font;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

h1 {
	font-size: 6rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: 3.6rem;
	margin: 2rem 0;
}

.header {
	//position: fixed;
	//top: 0;
	//z-index: 3;
	width: 100%;
	padding: 1.5rem 0;
	background-color: colors.$mainColor;
	opacity: 0.95;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		margin: 0 vars.$websiteMargin;
	}

	.nav-title {
		color: colors.$whiteFontColor;
		text-decoration: none;
		font-size: 3.2rem;
		font-family: fonts.$titleFont;
	}

	.nav-list {
		display: flex;
		gap: 2rem;
		list-style-type: none;
		color: colors.$whiteFontColor;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}

.video-wrapper {
	position: relative;

	.video {
		width: 100%;
		height: 101vh;
		margin: -1px;
		object-fit: cover;
		clip-path: inset(1px 1px);
		filter: brightness(40%);
	}
}

.video-text {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: vars.$websiteMargin;
	color: colors.$whiteFontColor;

	a {
		display: inline-block;
		border: none;
		margin-top: 1rem;
		padding: 1rem 3.5rem;
		border-radius: 5px;
		background-color: colors.$mainColor;
		color: inherit;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2.5px;
		font-family: inherit;
	}
}

.about-me {
	margin: 0 vars.$websiteMargin;
	display: flex;
	justify-content: space-between;
	color: colors.$textColor;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}

	h2 {
		color: colors.$headerFontColor;
	}

	p {
		padding-bottom: 2rem;
	}

	.texts {
		width: 50%;
		padding-right: 1rem;
	}

	.images {
		width: 30%;
		img {
			max-width: 100%;
		}
	}
}

.price-list-background {
	background-image: url("../../images/background-price-list.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 2rem 0;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}

	.price-list {
		margin: 0 vars.$websiteMargin;
		color: colors.$whiteFontColor;

		h2 {
			margin-top: 0;
			color: colors.$whiteFontColor;
		}

		table {
			width: 100%;
		}

		th {
			padding: 2rem;
		}

		td {
			padding: 1rem;
		}

		table,
		tr,
		th,
		td {
			border: 1px solid #fff;
			border-collapse: collapse;
		}
	}
}

.digital-dentistry {
	margin: 0 vars.$websiteMargin;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}

	h2 {
		color: colors.$headerFontColor;
	}

	p {
		padding-bottom: 2rem;
		color: colors.$textColor;
	}

	.images {
		display: flex;
		justify-content: space-evenly;
	}

	img {
		padding-bottom: 2rem;
		width: 30%;
	}
}

.courses-background {
	background-image: url("../../images/background-courses.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}

	.courses {
		margin: 0 vars.$websiteMargin;
		color: colors.$whiteFontColor;
		padding: 2rem 0;

		h2 {
			margin-top: 0;
		}

		h3 {
			margin: 2rem 0;
			font-size: 2.4rem;
		}

		.courses-card {
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: space-evenly;
		}

		.course-card {
			border: 1px solid #fff;
			border-radius: 5px;
			width: max(25%, 400px);
			text-align: center;

			h4,
			.date,
			.price {
				color: colors.$headerFontColor;
			}

			img {
				width: 100px;
			}

			button {
				margin: 1rem 0;
				padding: 0.5rem 1.5rem;
				background-color: colors.$headerFontColor;
				color: inherit;
				border: none;
				border-radius: 5px;
				font-family: inherit;
				cursor: pointer;
			}
		}
	}
}

.contact {
	margin: 2rem vars.$websiteMargin;
	display: flex;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}

	.contact-form {
		width: 65%;
		h2 {
			margin-top: 0;
			color: colors.$headerFontColor;
		}

		form {
			display: flex;
			flex-direction: column;
		}

		input,
		textarea,
		input:focus,
		textarea:focus {
			width: 75%;
			border: none;
			outline: none;
			border-bottom: 1px solid #959595;
		}

		input,
		textarea {
			padding: 10px 10px 10px 0;
			font-family: inherit;
		}

		textarea {
			height: 200px;
			resize: none;
		}

		button {
			width: 15%;
			margin: 1rem 0;
			padding: 1.5rem 0;
			background-color: colors.$mainColor;
			color: colors.$whiteFontColor;
			border: none;
			border-radius: 5px;
			font-family: inherit;
			cursor: pointer;
		}
	}

	img {
		width: 35%;
	}
}

.map {
	width: 100%;
	opacity: 0;
	transition: 800ms;

	&.active {
		opacity: 1;
	}
}

.footer {
	width: 100%;
	padding: 2rem 0;
	background-color: colors.$mainColor;
	color: colors.$whiteFontColor;
	a {
		color: inherit;
	}
	p {
		margin: 0 vars.$websiteMargin;
	}
}
