* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.6rem;
  padding: 2rem 0;
}

.header {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #3F72AF;
  opacity: 0.95;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 8rem;
}
.header .nav-title {
  color: #ffffff;
  text-decoration: none;
  font-size: 3.2rem;
  font-family: "JetBrains Mono", monospace;
}
.header .nav-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  color: #ffffff;
}
.header .nav-list a {
  color: inherit;
  text-decoration: none;
}

.video-wrapper {
  position: relative;
}
.video-wrapper .video {
  width: 100%;
  height: 101vh;
  margin: -1px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(1px 1px);
          clip-path: inset(1px 1px);
  filter: brightness(40%);
}

.video-text {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 8rem;
  color: #ffffff;
}
.video-text a {
  display: inline-block;
  border: none;
  margin-top: 1rem;
  padding: 1rem 3.5rem;
  border-radius: 5px;
  background-color: #3F72AF;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-family: inherit;
}

.about-me {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  background-color: #DBE2EF;
  color: #1f1f1f;
  opacity: 0;
  transition: 800ms;
}
.about-me.active {
  opacity: 1;
}
.about-me h2 {
  color: #3F72AF;
}
.about-me p {
  padding-bottom: 2rem;
}
.about-me .texts {
  width: 50%;
}

.price-list {
  padding: 2rem 8rem;
  background-color: #112D4E;
  color: #ffffff;
  opacity: 0;
  transition: 800ms;
}
.price-list.active {
  opacity: 1;
}
.price-list h2 {
  margin-top: 0;
  color: #ffffff;
}

.digital-dentistry {
  padding: 0 8rem;
  background-color: #DBE2EF;
  opacity: 0;
  transition: 800ms;
}
.digital-dentistry.active {
  opacity: 1;
}
.digital-dentistry h2 {
  color: #3F72AF;
}
.digital-dentistry p {
  padding-bottom: 2rem;
  color: #1f1f1f;
}
.digital-dentistry .images {
  display: flex;
  justify-content: space-evenly;
}
.digital-dentistry img {
  padding-bottom: 2rem;
  width: 30%;
}

.courses {
  padding: 2rem 8rem;
  background-color: #112D4E;
  color: #ffffff;
  opacity: 0;
  transition: 800ms;
}
.courses.active {
  opacity: 1;
}
.courses h2 {
  margin-top: 0;
}
.courses h3 {
  margin: 2rem 0;
  font-size: 2.4rem;
}
.courses .courses-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.courses .course-card {
  border: 1px solid #fff;
  border-radius: 5px;
  width: max(25%, 400px);
  text-align: center;
}
.courses .course-card h4,
.courses .course-card .date,
.courses .course-card .price {
  color: #ffffff;
}
.courses .course-card img {
  width: 100px;
}
.courses .course-card button {
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  background-color: #3F72AF;
  color: inherit;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}

.contact {
  padding: 2rem 8rem;
  display: flex;
  background-color: #DBE2EF;
  opacity: 0;
  transition: 800ms;
}
.contact.active {
  opacity: 1;
}
.contact .contact-form {
  width: 65%;
}
.contact .contact-form h2 {
  margin-top: 0;
  color: #3F72AF;
}
.contact .contact-form form {
  display: flex;
  flex-direction: column;
}
.contact .contact-form input,
.contact .contact-form textarea,
.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
  width: 75%;
  border: none;
  outline: none;
  border-bottom: 1px solid #959595;
}
.contact .contact-form input,
.contact .contact-form textarea {
  padding: 10px 10px 10px 0;
  background-color: inherit;
  font-family: inherit;
}
.contact .contact-form textarea {
  height: 200px;
  resize: none;
}
.contact .contact-form button {
  width: 15%;
  margin: 1rem 0;
  padding: 1.5rem 0;
  background-color: #3F72AF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
}
.contact img {
  width: 35%;
}

.map {
  width: 100%;
  opacity: 0;
  transition: 800ms;
}
.map.active {
  opacity: 1;
}

.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #3F72AF;
  color: #ffffff;
}
.footer a {
  color: inherit;
}
.footer p {
  margin: 0 8rem;
}/*# sourceMappingURL=main.css.map */